body {
    font-family: "Roboto", sans-serif;
}

.white-font {
    color: white;
}

header {
    background-color: #f8f9fa;
}

.large_searchbar {
    min-width: 300px;
    width: 100%;
}


.mobile-logo {
    max-width: 50px;
}

.logo img {
    width: 100%;
}

main {
    width: calc(100% - 150px);
}

aside {
    background-color: #051e34;
    width: 150px;
    height: 100vh;
}


#new-students {
    background-color: #1b72e8;

}

table {
    font-size: 13px;
}

.img-graph {
    min-width: 200px;
    min-height: 350px;
}

.img-graph img {
    width: 100%;
    object-fit: contain;
}