body {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #f8f9fa;
}

.large_searchbar {
    min-width: 450px;
    width: 100% !important;
}

.mobile-logo {
    width: 50px;
}

.mobile-logo img {
    width: 100%;
}