body {
    font-family: "Roboto", sans-serif;
}

.white-font {
    color: white;
}

header {
    background-color: #f8f9fa;
}

.large_searchbar {
    min-width: 300px;
    width: 100%;
}

.logo {
    max-width: 150px;
}

.logo img {
    width: 100%;
}

.mobile-logo {
    max-width: 60px;
}

.mobile-logo img {
    width: 100%;
}

main {
    width: calc(100% - 150px);
}

aside {
    background-color: #051e34;
    width: 150px;
}


#students-stats {
    background-color: #1b72e8;

}

.my_text_size {
    font-size: 13px;
}

.img-graph {
    min-width: 200px;
    min-height: 350px;
}

.img-graph img {
    width: 100%;
    object-fit: contain;
}

.my_dropdown_btn {
    background-color: #f8f9fa
}

.my_students {
    width: 40%;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 992px) {

    main {
        width: calc(100% - 75px);
    }

    aside {
        width: 75px;
    }
}

@media screen and (max-width: 767px) {
    .my_students {
        width: 100%;
    }
}